{% extends "base.twig" %}

{% block content %}
  <h1>{% trans %}Verified Credential Presentation Failed{% endtrans %}</h1>
  <p>{% trans %}Your credentials could not be verified. Please contact the administrator if you find this to be incorrect.{% endtrans %}</p>
{% endblock %}
